<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <title>{% block title %}{% endblock %} - Dashboard</title>
        {% block head %}
        {% endblock %} -->
    </head>
    <body>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper primary">
                    <a href="#!" class="brand-logo">Logo</a>
                    <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul id="snackbar" class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %} -->
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- {% block script %}
    {% endblock %} -->
</html>