<header class="mdl-layout__header mdl-layout__header--scroll nav-wrapper">
    <div class="mdl-layout__header-row centered-div">
        <img src="{{ url_for('static', filename='assets/logo.png') }}" style="height: 48px;">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Qui suis-je ?</a>
            <a class="mdl-navigation__link" href="">Mes projets</a>
            <a class="mdl-navigation__link mdl-button--primary contact-btn" href="">Contactez-moi</a>
        </div>
    </div>
</header>