.primary {
    background-color: #141c3a !important;
}

.primary-text {
    color: #141c3a !important;
}

.secondary {
    background-color: #0077B6 !important;
}

.secondary-text {
    color: #0077B6 !important;
}