:root {
    --primary-color: #141c3a;
    --secondary-color: #0077B6;
    --tertiary-color: #004ffc;
}

.primary {
    background-color: var(--primary-color) !important;
}

.primary-text {
    color: var(--primary-color) !important;
}

.secondary {
    background-color: var(--secondary-color) !important;
}

.secondary-text {
    color: var(--secondary-color) !important;
}