html {
    scroll-behavior: smooth;
}

body {
    font-size: 14px;
}

p {
    white-space: break-spaces;
}

.hidden { display: none; }

.content {
    width: 100vw;
    height: 100vh;
}

.dir-col {
    flex-direction: column;
}

.fl {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h1 {
    text-align: center;
}

.primary {
    color :#607d8b;
}

.bg-primary {
    background-color: #455a64;
}

.flashes li{
    color: rgb(201, 57, 57);
    font-size: 1rem;
}

.input-field input:focus + label {
    color: #607d8b !important;
}

.input-field input:focus {
    border-bottom: 1px solid #607d8b !important;
    box-shadow: 0 1px 0 0 #607d8b !important
}

input {
    z-index: 1;
}

label {
    z-index: -1;
}

.waves-button-input {
    color: white;
    cursor: pointer;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 5; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.nav-wrapper, .nav-wrapper .mdl-navigation__link {
    background-color: transparent;
    color: #141c3a;
    font-size: 18px;
}

.centered-div {
    padding: 60px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.contact-btn {
    height: 70%;
    display: flex !important;
    align-items: center;
    border: 2px solid blue;
    border-radius: 300px;
    border-width: 2px;
    transition: all .2s ease-in-out;
    color: #7510F7 !important;
}

.contact-btn:hover {
    background-color: #7510F7;
    color: white !important;
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section, .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
}

.myself-section, .skills-section, .contact-section {
    color: white;
}

.myself-section .about-me {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    background: linear-gradient(#7510F7 0%, #7510F7 34rem, white 34rem, white 100%);
}

.myself-section .experiences-wrapper {
    background-color: white;
    border-radius: 15px;
}

.myself-section .experiences {
    padding-bottom: 30px;
}

.skills-section, .contact-section {
    background: #7510F7;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    max-width: 25vw;
}

@media only screen and (max-width: 768px) {
    .skill-box {
        max-width: 100%;
    }
}

.skill-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--secondary-color) 50%, white 51%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-img img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    margin-left: 5rem;
    margin-right: 5rem;
    width: 25%;
}

@media only screen and (max-width: 768px) {
    .project-card {
        width: 100%;
    }
}

.contact-section {
    height: 50vh;
}

.contact-section .contact-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    color: white;
}

.contact-section .contact-mail .mail {
    margin: 0;
    margin-left: 10px;
}

.contact-section .contact-mail .mail:hover {
    font-weight: bold;
}

.bottom-buttons-backoffice {
    position: fixed;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 25px;
}