<section class="contact-section" id="contact">
    <div class="centered-div" style="padding: 0">
        <h4 style="font-weight: bolder; margin-bottom: 50px">Contactez-moi</h4>
        <a class="contact-mail" href="mailto:{{ user.email }}">
            <i class="material-icons">email</i>
            <h5 class="mail">{{ user.email }}</h5>
        </a>
        <a class="contact-mail" href="https://www.youtube.com/user/WilliamHDFull/videos">
            <i class="material-icons">play_arrow</i>
            <h5 class="mail">Voir plus de mes projets sur YouTube</h5>
        </a>
        <a class="contact-mail" href="https://github.com/Wumbaloo?tab=repositories">
            <i class="material-icons">code</i>
            <h5 class="mail">Visitez mon GitHub</h5>
        </a>
        <a class="contact-mail" href="/static/assets/cv.pdf" style="margin-top: 2rem;">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Télécharger mon CV
            </button>
        </a>
    </div>
</section>