{% extends "layout.html" %}
{% block body %}
<div class="content">
    <form id="updateExperience" action="{{ url_for('update_experience', id=experience.id) }}" method="POST" class="row dir-col fl">
        <div class="modal-content">
            <h4>Edit an experience</h4>
            <div class="input-field col s12">
                <input name="name" type="text" class="validate" maxlength="255" value="{{ experience.name }}">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
                <input name="company" type="text" class="validate" maxlength="255" value="{{ experience.company }}">
                <label for="company">Company</label>
            </div>
            <div class="input-field col s12">
                <input name="begin" type="text" class="validate" maxlength="64" value="{{ project.begin }}">
                <label for="begin">Begin</label>
            </div>
            <div class="input-field col s12">
                <input name="end" type="text" class="validate" maxlength="64" value="{{ project.end }}">
                <label for="end">End</label>
            </div>
            <div class="input-field col s12">
                <textarea name="description" class="materialize-textarea" maxlength="1024">{{ experience.description }}</textarea>
                <label for="description">Description</label>
            </div>
            <div class="col s12 fl" style="justify-content: flex-end;">
                <a class="waves-effect waves-green btn-flat primary white-text" href="{{ url_for('show_backoffice') }}" style="margin-right: 18px;">Get back</a>
                <input class="waves-effect waves-green btn-flat green" type="submit" value="Update">
            </div>
        </div>
    </form>
</div>
{% endblock %}