{% extends "layout.html" %}
{% block body %}
<div class="fl dir-col">
    <div class="row" style="text-align: center;">
        <h1 class="primary--text">Welcome, {{ current_user.name }}.</h1>
        <h6 style="margin-bottom: 18px;">Last login: {{ current_user.last_login }}</h6>
        <form id="editPortfolio" action="{{ url_for('edit_portfolio') }}" method="POST" class="row dir-col fl">
            <div class="mdl-textfield mdl-js-textfield">
                <input name="display_name" type="text" value="{{ current_user.display_name }}" class="mdl-textfield__input" maxlength="255">
                <label for="display_name" class="mdl-textfield__label">Display name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="password" type="password" class="mdl-textfield__input" maxlength="64">
                <label for="password" class="mdl-textfield__label">Password</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="email" type="text" value="{{ current_user.email }}" class="mdl-textfield__input" maxlength="255">
                <label for="email" class="mdl-textfield__label">E-mail</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="description" class="mdl-textfield__input" rows="3" maxlength="1024">{{ current_user.description }}</textarea>
                <label for="description" class="mdl-textfield__label">Description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="title" type="text" value="{{ current_user.title }}" class="mdl-textfield__input" maxlength="255">
                <label for="title" class="mdl-textfield__label">Title</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="subtitle" type="text" value="{{ current_user.subtitle }}" class="mdl-textfield__input" maxlength="255">
                <label for="subtitle" class="mdl-textfield__label">Subtitle</label>
            </div>
            <div class="col s12 fl dir-col card">
                <div class="col s12 fl" style="margin-top: 18px; margin-bottom: 18px;">
                    <div class="col s12 fl" style="justify-content: space-between;">
                        <h5 style="margin: 0;">Projects</h5>
                        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal_add_project"><i class="material-icons">add</i></a>
                    </div>
                </div>
                {% for project in current_user.projects %}
                    <div class="card grey darken-1 col s12">
                        <div class="card-content white-text">
                            <span class="card-title">{{ project.name }}</span>
                            <h6>Images:</h6>
                            <p>{{ project.images }}</p>
                            <h6>Small description:</h6>
                            <p>{{ project.small_description }}</p>
                            <h6>Description:</h6>
                            <p>{{ project.description }}</p>
                        </div>
                        <div class="card-action fl" style="justify-content: space-around;">
                            <a class="btn red" href="{{ url_for('delete_project', id=project.id) }}">Delete</a>
                            <a class="btn" href="{{ url_for('edit_project', id=project.id) }}">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col s12 fl dir-col card">
                <div class="col s12 fl" style="margin-top: 18px; margin-bottom: 18px;">
                    <div class="col s12 fl" style="justify-content: space-between;">
                        <h5 style="margin: 0;">Skills</h5>
                        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal_add_skill"><i class="material-icons">add</i></a>
                    </div>
                </div>
                {% for skill in current_user.skills %}
                    <div class="card grey darken-1 col s12">
                        <div class="card-content white-text">
                            <span class="card-title">{{ skill.name }}</span>
                            <h6>Icon {{ skill.icon }}</h6>
                            <h6>Description:</h6>
                            <p>{{ skill.description }}</p>
                        </div>
                        <div class="card-action fl" style="justify-content: space-around;">
                            <a class="btn red" href="{{ url_for('delete_skill', id=skill.id) }}">Delete</a>
                            <a class="btn" href="{{ url_for('edit_skill', id=skill.id) }}">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col s12 fl dir-col card">
                <div class="col s12 fl" style="margin-top: 18px; margin-bottom: 18px;">
                    <div class="col s12 fl" style="justify-content: space-between;">
                        <h5 style="margin: 0;">Experiences</h5>
                        <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal_add_experience"><i class="material-icons">add</i></a>
                    </div>
                </div>
                {% for experience in current_user.experiences %}
                    <div class="card grey darken-1 col s12">
                        <div class="card-content white-text">
                            <span class="card-title">{{ experience.name }}</span>
                            <h6>Begin {{ experience.begin }}</h6>
                            <h6>End {{ experience.end }}</h6>
                            <h6>Description:</h6>
                            <p>{{ experience.description }}</p>
                        </div>
                        <div class="card-action fl" style="justify-content: space-around;">
                            <a class="btn red" href="{{ url_for('delete_experience', id=experience.id) }}">Delete</a>
                            <a class="btn" href="{{ url_for('edit_experience', id=experience.id) }}">Edit</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="fl bottom-buttons-backoffice">
                <a class="waves-effect waves-green btn-flat primary white-text" href="{{ url_for('show_index') }}" style="margin-right: 18px;">Get back</a>
                <input class="waves-effect blue-grey btn" type="submit" value="Submit" style="z-index: 0;">
            </div>
        </form>
    </div>
</div>
<div id="modal_add_project" class="modal">
    <form id="addProject" action="{{ url_for('add_project') }}" method="POST" class="row dir-col fl">
        <div class="modal-content">
            <h4>Add a project</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="name" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="name" class="mdl-textfield__label">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="images" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="images" class="mdl-textfield__label">Images</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="small_description" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="small_description" class="mdl-textfield__label">Small description</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="description" class="mdl-textfield__input" rows="3" maxlength="1024"></textarea>
                <label for="description" class="mdl-textfield__label">Description</label>
            </div>
            <div class="col s12 fl" style="justify-content: flex-end;">
                <input class="waves-effect waves-green btn-flat black" type="submit" value="Create">
            </div>
        </div>
    </form>
</div>
<div id="modal_add_skill" class="modal">
    <form id="addSkill" action="{{ url_for('add_skill') }}" method="POST" class="row dir-col fl">
        <div class="modal-content">
            <h4>Add a skill</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="name" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="name" class="mdl-textfield__label">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="icon" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="icon" class="mdl-textfield__label">Icon</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="description" class="materialize-textarea" maxlength="255"></textarea>
                <label for="description" class="mdl-textfield__label">Description</label>
            </div>
            <div class="col s12 fl" style="justify-content: flex-end;">
                <input class="waves-effect waves-green btn-flat black" type="submit" value="Create">
            </div>
        </div>
    </form>
</div>
<div id="modal_add_experience" class="modal">
    <form id="addExperience" action="{{ url_for('add_experience') }}" method="POST" class="row dir-col fl">
        <div class="modal-content">
            <h4>Add an experience</h4>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="name" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="name" class="mdl-textfield__label">Name</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="company" type="text" class="mdl-textfield__input" maxlength="255">
                <label for="company" class="mdl-textfield__label">Company</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="begin" type="text" class="mdl-textfield__input" maxlength="64">
                <label for="begin" class="mdl-textfield__label">Begin</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input name="end" type="text" class="mdl-textfield__input" maxlength="64"">
                <label for="end" class="mdl-textfield__label">End</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <textarea name="description" class="materialize-textarea" maxlength="255"></textarea>
                <label for="description" class="mdl-textfield__label">Description</label>
            </div>
            <div class="col s12 fl" style="justify-content: flex-end;">
                <input class="waves-effect waves-green btn-flat black" type="submit" value="Create">
            </div>
        </div>
    </form>
</div>
{% endblock %}